.modal.hide.fade.large.in {
   height:98%;
   width:96%;
   margin-left: -48%; 
   margin-top: -5%;
}
.modal.hide.fade.medio.in {
	height: 50%;
	width: 50%;
	margin-left: -25%; 
    margin-top: 5%;	
}
.modal-body-large
{
   max-height:80%;
}


.date_field {position: relative; z-index:100;}
div .span8 textarea{
	width: 100%;
}
div .span11 textarea{
	width: 100%;
}
#ctos_lateral {
	max-height: 300px;
	overflow-y: scroll;	
}
.ctos, .gescales {
	max-height: 250px;
	overflow-y: auto;	
}
.asociadas {
	max-height: 150px;
	overflow-y: auto;		
}

#content {
	width: 100% !important;
	padding: 28px !important;
	margin: 0px 0px !important;
}